{% extends "@FOSUserBundle/layout_sidebar.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %} {{ "layout.profile_edit.pagetitle"|trans }} {% endblock %}

{% block fos_user_content %}
		<h3>{{ "layout.profile_edit.basic_settings"|trans }}</h3>
		{{ form_start(form, { 'action': path('fos_user_profile_edit') }) }}
			{% include "@FOSUser/Profile/edit_content.html.twig" %}
		{{ form_end(form) }}
{% endblock fos_user_content %}
