{% extends "@FOSUser::layout_sidebar.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %} {{ "layout.profile_edit.pagetitle"|trans }} {% endblock %}

{% block fos_user_content %}
		<h4>{{ "layout.profile_edit.basic_settings"|trans }}</h4>
    {% include "@FOSUser/Profile/edit_content.html.twig" %}
{% endblock fos_user_content %}
