.sidebar{
  width: 19%;
  float: left;
}

.sidebar_header {
  font-size:1.2rem !important;
}

.sidebar_font {
  font-size:0.8rem !important;
}

.content {
  width: 80%;
  float: right;
  margin: 0px !important;
  padding:10px;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }

  .content {
    width:100%;
    float:none;
  }
}

@media only screen and (min-width: 1900px) {
  .sidebar{
    width: 15%;
  }

  .sidebar_header {
    font-size:1.5rem !important;
  }

  .sidebar_font {
    font-size: 0.9rem !important;
  }

  .content {
    width:85%;
  }
}

@media only print {
  .sidebar {
    display:none
  }

  .content {
    width:100%
  }
}
