.sidebar{
  width: 19%;
  float: left;
  height: 100%;
  bottom: 0px;
}

.sidebar_header {
  font-size:1.2rem !important;
}

.sidebar_font {
  font-size:0.8rem !important;
}

.navbar-nav-xs-inline{
  font-size:1.2rem;
  text-align:center !important;
}

.navbar-nav-xs-inline .nav-item {
  text-align:center !important;
}

.content {
  width: 80%;
  float: right;
  margin: 0px !important;
  padding:10px;
}

.sidebar .nav .nav {
  opacity:0.8;
  border-top: 1px;
  margin-left:3px;
  padding: 1px;
}

@media only screen and (max-width: 764px) {
  .navbar-nav-xs-inline {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-width:100%;
    text-align:center;
  }

  .navbar-nav-xs-inline .nav-item {
    width:49%;
  }
}

@media only screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }

  .content {
    width:100%;
    float:none;
  }
}

@media only screen and (min-width: 1900px) {
  .sidebar{
    width: 15%;
  }

  .sidebar_header {
    font-size:1.5rem !important;
  }

  .sidebar_font {
    font-size: 0.9rem !important;
  }

  .content {
    width:85%;
  }
}

@media only print {
  .sidebar {
    display:none
  }

  .content {
    width:100%
  }
}
