.sidebar{
  width: 19%;
  float: left;
}

.sidebar_font {
  font-weight:0.8rem !important;
}

.content {
  width: 80%;
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    display: none;
  }

  .content {
    width:100%;
    float:none;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
}

@media only screen and (min-width: 1900px) {
  .sidebar{
    width: 10%;
  }

  .content {
    width:89%;
  }
}

@media only print {
  .sidebar {
    display:none
  }

  .content {
    width:100%
  }
}
