@page {
  size: A4;
  margin: 0mm;
  orientation: portrait;
}

#printArea .banner-wrap{
  padding:auto;
  text-align:center;
}

#printArea .banner {
  margin-left: auto;
  margin-right: auto;
}

#printArea {
  font-size: 1rem;
}

#printArea h1 {
  font-size: 2rem;
  text-align:center;
}

#memberInfo {
  min-width:100%;
  font-size: 1.5rem;
}

#memberInfo thead th h4 {
  font-size: 0.8rem;
}

.printRow {
  margin-top: 5%;
}

.signature {
  text-align: center;
}

.signature h4{
  font-size: 0.8rem;
  text-align:center;
  font-style:oblique;
  border-bottom: 1px solid;
}


.signature * {
  max-width:100%;
  text-align: center;
}

.signature * img {
  max-width:100%;
  width: auto;
  height: auto;
}

#scanQr {
  text-align:center;
  max-width:100%;
}

#scanQr * {
  max-width:100%;
  width: auto;
  height: auto;
}

.applicationData{
  text-align: center;
}

#printArea tbody * th {
  text-align: left;
  font-size: 1.1rem;
}

@media print{

  html, body {
    width: 210mm;
    height: 297mm;
  }

  #printArea {
    margin: 2cm;
    font-size: 18pt;
  }

  #printArea h1 {
    font-size:25pt;
  }

  #memberInfo tbody {
    border: 1mm solid;
  }

  .applicationData {
    margin-bottom: 1pt;
  }

  .signature {
      max-width:30% !important;
      text-align:center;
  }

  .signature h4{
    font-size: 12pt;
    border-bottom: 1mm solid;
  }

  /* .signature * img {
    max-width:5cm;
  } */

  #scanQrContainer {
    max-width: 40% !important;
  }

  .printRow {
    margin-top: 5cm;
  }
}
