#signatureContainer {
  height: 10rem;
}

.droparea {
  display: table;
  width: 60%;
  height:100%;
  margin-left:20%;
  margin-right:20%;
  padding: 1rem;
  text-align:center;
  border-style: dashed;
  border-color: #ccc;
  color: #ccc;
}

.droparea label {
  display: table-cell;
  vertical-align: middle;
}

.shade {
  box-shadow: 5px 10px #bbb;
}

.text-center{
  text-align: center;
}

@page {
  size: A4;
  margin: 0mm;
  orientation: portrait;
}

@media print{

  html, body {
    width: 210mm;
    height: 297mm;
  }

  #printArea {
    margin: 2cm;
    font-size: 20pt;
  }

  #printArea h1 {
    font-size:25pt;
    text-align:center;
  }

  #printArea .banner-wrap{
    padding:auto;
    text-align:center;
  }

  #printArea .banner {
    margin-left: auto;
    margin-right: auto;
  }

  #printArea {
    font-size:18pt;
  }

  #memberInfo {
    min-width:100%;
    font-size: 3em;
  }

  #memberInfo tbody {
    border: 1mm solid;
  }

  .applicationData {
    margin-bottom: 1pt;
    text-align: center;
  }

  .signature h4{
    font-size: 12pt;
    text-align:center;
    font-style:oblique;
    border-bottom: 1mm solid;
  }

  #scanQr {
    text-align:center;
  }

  .printRow {
    margin-top: 5cm;
  }
}
