#signatureContainer {
  height: 10rem;
}

.droparea {
  display: table;
  width: 60%;
  height:100%;
  margin-left:20%;
  margin-right:20%;
  padding: 1rem;
  text-align:center;
  border-style: dashed;
  border-color: #ccc;
  color: #ccc;
}

.droparea img {
  height: 100px;
}

.droparea label {
  display: table-cell;
  vertical-align: middle;
}

.shade {
  box-shadow: 5px 10px #bbb;
}

.text-center{
  text-align: center;
}

#displayRegistationPaperApplicationWrapper {
  height: 1000px;
}

#displayRegistationPaperApplicationWrapper iframe {
  height: calc( 100% - 2em);
}
