{% extends 'default/layout_homepage.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('panel.css','css') }}"
{% endblock %}

{% block navContent %}
<a class="btn btn-danger" href="{{ path('fos_user_security_logout') }}">Logout</a>
{% endblock navContent %}

{% block content %}
  <div class="sidebar bg-dark text-light">
      {% block sidebar_content %}
        Sidebar
      {% endblock sidebar_content %}
  </div>

  <div class="content">
      {% block pageContent %}
      {% endblock pageContent %}
  </div>
{% endblock %}
