{% extends 'default/layout_homepage.html.twig' %}

{% block navContent %}
<a class="btn btn-danger" href="{{ path('fos_user_security_logout') }}">Logout</a>
{% endblock navContent %}

{% block content %}
<div class="container-fluid row">
    <div class="text-light bg-dark col-sm-2">
      {% block sidebar_content %}
        Sidebar
      {% endblock sidebar_content %}
    </div>

    <div class="float-right col-sm-9 col-xs-12">
      {% block pageContent %}
      {% endblock pageContent %}
    </div>
  </div>
</div>
{% endblock %}
