{% extends "@FOSUserBundle/layout.html.twig" %}
{% block title %} Register {% endblock title %}

{% block fos_user_content %}

  {% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    {% include "@FOSUser/Registration/register_content.html.twig" %}
    <a href="{{ path('fos_user_security_login') }}"> I already have an account. </a>
</div>

{% endblock fos_user_content %}
