{% extends "@FOSUser/layout_sidebar.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ "layout.security.changePassowrdTitle"|trans }}{% endblock %}

{% block fos_user_content %}
	<div class="box">
	    {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
	</div>
{% endblock fos_user_content %}
