{% trans_default_domain 'FOSUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    <div class="box-body">
        {{ form_widget(form) }}
        <div class="box-footer">
            <input type="submit" class="btn btn-block btn-primary btn-flat" value="{{ 'change_password.submit'|trans }}" />
        </div>
    </div>
{{ form_end(form) }}
